.blue{
    height: 300px;
    width: 300px;
    background-color: skyblue;
    /* transform: translate(100px, 150px); */
    /* transform: translateX(200px); */
    /* transform: translateY(200px); */
    /* transform: translate3D(100px, 200px, 300px); */

    /* transform: scale(0.2); */
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    /* transform: scale3d(2,1,2); */
    /* transform: rotate(45deg); */
    /* transform: rotateY(45deg); */
    /* transform: rotate3d(1,-1,1, 45deg); */
    transform: skew(20deg, 10deg);
    /* transform: skewX(); */

}

.green{
    height: 300px;
    width: 300px;
    background-color: green;
     transform: rotate(45deg);
}